#article_name
{
	border:none;
}

select
{
	width:200px;
	font-size:10px;
	border:1px solid #9C9C9C;
	border-radius:2px;
}

#article_title
{
	width: 694px;
	font-size:16px;
}

::-moz-placeholder
{
	font-style:italic;
	color:#B8B8B8;
}

::-webkit-input-placeholder
{
	font-style:italic;
	color:#B8B8B8;
}

:-moz-placeholder
{
	font-style:italic;
	color:#B8B8B8;
}

:-ms-input-placeholder
{
	font-style:italic;
	color:#B8B8B8;
}

button 
{
	background-color: white;
	color: #353535;
	border: none;
	padding:5px;
	font-size:14px;
}

button:hover 
{
	background-color:silver;
	color: black;
}