form p { position:relative }
.login-field
{
	width:150px;
}

footer
{
	transition: .5s;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width:140px;
	display:block;
	height:35px;
	background-color:white;
	font-size: 30px;
	padding-left:15px;
	margin-bottom:20px;
	overflow:hidden;
}

footer:hover
{
	height:210px;
	color:white;

}

.login
{
	color: #fc58c4;
	font-size: 14px;
	padding-right: 20px;
}

h1
{
	font-size:30px;
	color:black;
	text-align: center;
}

h2
{
	font-size:18px;
	color:#360b27;
	letter-spacing:2px;
	text-transform:uppercase;
}

h3
{
	display:block;
	font-size:14px;
	padding-left:3px;
	padding-right:3px;
}

.hidden
{
	display:none;
}

.article-text
{
	font-family: "Georgia", serif;
	font-size:18px;
	line-height:27px;
	padding-bottom:50px;
}

a
{
	color:#fc58c4;
	text-decoration:none;
}

hr
{
	background-color:#EDEDED;
	border:none;
	height:2px;
	margin-top: 10px;
	margin-bottom: 10px;
}


.separator > div {
	font-size: 10px;
	text-transform:uppercase;
	color: gray;
	display:inline;
	background-color:#E8E8E8;
	padding:2px;
}

headline.main
{
	font-size:18px;
}

headline.article
{
	font-weight:bold;
	font-size:24px;
}

headline > a
{
	color:black;
}

headline > a:hover
{
	text-decoration:underline;
}

.left
{
	float:left;
}

.right
{
	float:right;
}

.clear
{
	clear:both;
}

.logo
{
	    display: block;
		width: 350px;
}

.subtext
{
	font-size:15px;
	padding-top:10px;
	font-weight:bold;
	padding-bottom:20px;
}

body
{
	font-family: 'Sintony', sans-serif;
	font-size:18px;
}

gray
{
	color:gray;
	font-size:13px;
}

.container
{
	width:700px;
	margin-left:auto;
	margin-right:auto;
}

.centered
{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.rightColumn
{
	float:right;
	width:770px;
}

.leftColumn
{
	top: 40px;
	left: 180px;
	width: 320px;
	font-size: 11.5px;
	position: fixed;
}

.compose
{
	position: fixed;
	top: 5px;
	right: 5px;
	font-size: 10px;
}

.compose div
{
	display: none;
	background-color: white;
	border: 1px solid black;
	width: 200px;
	height:120px;
	padding:10px;
}

.menu
{
	text-transform: uppercase;
	color: #CC0000;
}

.sub-menu-item
{
    border-bottom:1px solid gray;
    height:0.6em;
    width:200px;
    text-align:center;
    margin-bottom:1em;
    
}
.sub-menu-item > a
{
    text-decoration:none;
	color: white;

}